.page-body {
    background-color: #171717;
    font-family: sans-serif;
    padding-bottom: 239px;
    height: auto;
}

.container {
    max-width: 1460px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    padding-top: 37px;
    padding-bottom: 37px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-link {
    display: flex;
    align-items: center;
    border: 1px solid #E4B564;
    padding: 10px 25px;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}

.phone-icon {
    margin-right: 10px;
}

.heat-networks {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("../images/header-bg.jpeg");
    background-attachment: fixed;
}

.section-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}

.section-subtitle {
    margin-top: 41px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.heat-networks-list {
    list-style: none;
    display: grid;
    margin-top: 41px;
    margin-bottom: 0;
    padding-left: 0;
    grid-template-columns: repeat(6, 1fr);
    gap: 27px 30px;
    grid-template-areas:
    "ground-work ground-work underground-work underground-work channels channels"
    "fixed-supports fixed-supports fixed-supports wells wells wells";

}

.heat-networks-list-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #634F2C;
    min-height: 468px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.ground-work {
    grid-area: ground-work;
}

.underground-work {
    grid-area: underground-work;
    background-color: #B4A385;
}

.channels {
    grid-area: channels;
    background-color: #E4B564;
}

.fixed-supports {
    grid-area: fixed-supports;
    background-color: #635A4A;
}

.wells {
    grid-area: wells;
    background-color: #B08C4D;
}

.equipment-park {
    padding-top: 80px;
    padding-bottom: 191px;
}

.equipment-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 94px;
    margin-bottom: 0;
    padding-left: 0;
    height: 897px;
    column-gap: 30px;
    row-gap: 24px;
}

.equipment-list-item {
    width: 467px;
    min-height: 255px;
    background-color: #0E0E0E;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: #FFFFFF;
    padding: 46px 50px;
}

.sludge-machine {
    min-height: 313px;
}

.accent-text {
    display: block;
    font-weight: 700;
}

.loader {
    min-height: 560px;
    background-color: #1F1F1F;
}

.sewer-washing-machine {
    min-height: 439px;
    background-color: #242424;
}

.excavator {
    min-height: 405px;
    background-color: #E4B564;
    color: #000000;
}

.excavator-loader {
    background-color: #1F1F1F;
}

.kamaz {
    min-height: 313px;
}

.skating-rink {
    min-height: 277px;
    background-color: #0A0909;
}

.projects {
    padding-top: 161px;
    background-color: #0E0E0E;
    background-image: url("../images/parallax-bg.jpeg");
    background-attachment: fixed;
}

.title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.all-projects {
    padding-left: 40px;
    padding-right: 40px;
    background: none;
}

.projects-list {
    display: grid;
    list-style: none;
    padding-left: 0;
    margin-top: 61px;
    margin-bottom: 0;
    grid-template-columns: repeat(3, 1fr);
}

.projects-list-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #634F2C;
    min-height: 391px;
    padding: 80px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    color: #FFFFFF;
}

.mavis {
    background-color: rgba(232, 210, 171, 0.76);
}

.mavis-logo-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3px;
}

.project-item-text {
    margin-top: 16px;
    margin-bottom: 0;
    color: #FFFFFF;
}

.arsenal1 {
    background-color: #E4B564;
}

.arsenal2 {
    background-color: #635A4A;
}

.setlgroup {
    background-color: #B08C4D;
}
